button {
    margin-left: 27%;
}

#noNum, #reloadButton {
    display: none;
}

dialog {
    width: 50%;
    height: 50%;    
}

.card-text {
    text-align: justify;
}

@media (max-width: 768px) {

    dialog {
        width: 85%;
        height: 60%;
    }
}